{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Secretaría</title>
</head>
<body class='mat-app-background mat-typography'>
    <app-root></app-root>
</body>
    <script type="application/javascript" src="{% static 'polyfills-es5.js' %}"> </script>
    <script type="application/javascript" src="{% static 'vendor-es5.js' %}"> </script>
    <script type="application/javascript" src="{% static 'main-es5.js' %}"> </script>
    <script type="application/javascript" src="{% static 'styles-es5.js' %}"> </script>
    <script type="application/javascript" src="{% static 'runtime-es5.js' %}"> </script>
</html>